body{
    background-image: url(https://imgs.search.brave.com/_4mM8q1dthr8h6PiUAdYy1gMwslOMIbIGD-AavJn_gE/rs:fit:626:417:1/g:ce/aHR0cHM6Ly9pbWFn/ZS5mcmVlcGlrLmNv/bS9mcmVlLXBob3Rv/L2NhbGN1bGF0b3It/Y2xvc2V1cC1iYWNr/Z3JvdW5kXzkzNjc1/LTE0MDI4LmpwZw);
     background-size: cover;
     margin-left: 100px;
}